.bio-skills {
    padding: 150px 0;
    .content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        .bio-skill-intro {
            width: 40%;
            padding: 0 50px 0 0;
            h2{
                font-family: $font-important;
                color: $color-secondary;
                font-size: 3rem;
            }
            p{
                font-size: 0.8rem;
                padding: 20px 0;
            }
        }
        .skill-content {
            padding: 0 0 0 50px;
            ul {
                li {
                    padding: 20px 0;
                    border-bottom: 1px solid $color-secondary;
                }
            }
        }
    }
}