.bio-story{
    padding: 150px 0;
    .content{
        display: flex;
        align-items: start;
        justify-content: space-between;
        .bio-intro{
            width: 40%;
            padding: 0 50px 0 0;
            h2{
                font-family: $font-important;
                color: $color-secondary;
                font-size: 3rem;
            }
            p{
                font-size: 0.8rem;
                padding: 20px 0;
            }
        }
        .bio-content{
            padding: 0 0 0 50px;
            h3{
                font-size: 2rem;
                font-weight: 300;
            }
            p{
                padding: 20px 0 0 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .bio-story {
        .content {
            flex-direction: column;
            align-items: center;
            .bio-intro {
                text-align: center;
                padding: unset;
                width: unset;
                padding: 0 0 30px 0;
            }
            .bio-content {
                text-align: center;
                padding: unset;
            }
        }
    }
}