.bio-hero {
    padding: 200px 0;
    background-color: $color-secondary;
    text-align: center;
    .content {
        h1 {
            font-family: $font-important;
            font-size: 3rem;
            color: $color-primary;
        }
        p {
            color: $color-primary;
            padding: 10px 0;
        }
    }
}