footer {
    background-color: $color-secondary;
    padding: 20px 0;
    .content {
        p {
            text-align: center;
            font-style: italic;
            color: $color-primary;
            font-weight: lighter;
            font-size: 0.8rem;
        }
    }
}