footer {
    background-color: $color-accent;
    padding: 20px 0;
    .content {
        p {
            text-align: center;
            font-style: italic;
            color: $color-secondary;
            font-weight: 300;
        }
    }
}