header {
    padding: $gap 0;
    .content{
        display: flex;
        align-items: center;
        .logo{
            font-family: $font-important;
            font-size: 1.5rem;
        }
        nav{
            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li{
                    text-align: right;
                }
            }
        }
    }
}