.hero{
    padding: 200px 0;
    background-color: $color-accent;
    .content{
        text-align: center;
        h1{
            font-family: $font-important;
            font-size: 3rem;
        }
    }
}