@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

body {
  font-size: 16px;
}

button {
  padding: 10px;
  color: #ffffff;
  background-color: #333333;
  text-transform: uppercase;
  width: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.content {
  padding: 0 20px;
  width: 100%;
  width: 948px;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

header {
  padding: 20px 0;
}
header .content {
  display: flex;
  align-items: center;
}
header .content .logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}
header .content nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .content nav ul li {
  text-align: right;
}

.hero {
  padding: 200px 0;
  background-color: #efefef;
}
.hero .content {
  text-align: center;
}
.hero .content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
}

.project {
  padding: 50px 0;
}
.project .content .project-card {
  text-align: center;
  margin: 20px 0;
  padding: 50px 0;
  background-color: #efefef;
}

.contact .contact-email {
  padding: 50px 0;
  background-color: #333333;
}
.contact .contact-email .content {
  text-align: center;
}
.contact .contact-email .content h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: #ffffff;
}
.contact .contact-email .content p {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: lighter;
  padding: 30px 0;
}
.contact .contact-form {
  padding: 50px 0;
  background-color: #efefef;
}
.contact .contact-form .content h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: #333333;
}
.contact .contact-form .content form {
  margin: 0 auto;
  width: 500px;
}
.contact .contact-form .content form .form-row {
  display: flex;
  padding: 10px 0;
  gap: 20px;
}
.contact .contact-form .content form .form-row .form-submit {
  text-align: center;
}
.contact .contact-form .content form .form-row .form-field .field {
  border: none;
  padding: 10px 0;
}
.contact .contact-form .content form .form-row .form-field .field::-moz-placeholder {
  padding: 10px;
}
.contact .contact-form .content form .form-row .form-field .field::placeholder {
  padding: 10px;
}

footer {
  background-color: #efefef;
  padding: 20px 0;
}
footer .content p {
  text-align: center;
  font-style: italic;
  color: #333333;
  font-weight: 300;
}

.bio-hero {
  padding: 200px 0;
  background-color: #333333;
  text-align: center;
}
.bio-hero .content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #ffffff;
}
.bio-hero .content p {
  color: #ffffff;
  padding: 10px 0;
}

.bio-story {
  padding: 150px 0;
}
.bio-story .content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.bio-story .content .bio-intro {
  width: 40%;
  padding: 0 50px 0 0;
}
.bio-story .content .bio-intro h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #333333;
  font-size: 3rem;
}
.bio-story .content .bio-intro p {
  font-size: 0.8rem;
  padding: 20px 0;
}
.bio-story .content .bio-content {
  padding: 0 0 0 50px;
}
.bio-story .content .bio-content h3 {
  font-size: 3rem;
  font-weight: 300;
}
.bio-story .content .bio-content p {
  padding: 20px 0 0 0;
}

.bio-quote {
  background-color: #333333;
  text-align: center;
  padding: 100px 0;
}
.bio-quote .content p {
  padding: 15px 0;
  color: #ffffff;
}
.bio-quote .content h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #ffffff;
}

.bio-skills {
  padding: 150px 0;
}
.bio-skills .content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.bio-skills .content .bio-skill-intro {
  width: 40%;
  padding: 0 50px 0 0;
}
.bio-skills .content .bio-skill-intro h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #333333;
  font-size: 3rem;
}
.bio-skills .content .bio-skill-intro p {
  font-size: 0.8rem;
  padding: 20px 0;
}
.bio-skills .content .skill-content {
  padding: 0 0 0 50px;
}
.bio-skills .content .skill-content ul li {
  padding: 20px 0;
  border-bottom: 1px solid #333333;
}/*# sourceMappingURL=style.css.map */