@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

body {
  font-size: 16px;
}

button {
  padding: 10px;
  color: #ffffff;
  background-color: #333333;
  text-transform: uppercase;
  width: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.content {
  padding: 0 20px;
  width: 100%;
  width: 948px;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

header {
  padding: 20px 0;
}
header .content {
  display: flex;
  align-items: center;
}
header .content .logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}
header .content nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .content nav ul li {
  text-align: right;
}

.hero {
  padding: 200px 0;
  background-color: #efefef;
}
.hero .content {
  text-align: center;
}
.hero .content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
}

.project {
  padding: 50px 0;
}
.project .content .project-card {
  text-align: center;
  margin: 20px 0;
  padding: 50px 0;
  background-color: #efefef;
}

.contact .contact-details {
  padding: 50px 0;
  background-color: #333333;
}
.contact .contact-details .content {
  text-align: center;
}
.contact .contact-details .content h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  padding: 0 0 50px 0;
}
.contact .contact-details .content a {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: lighter;
  text-decoration: none;
}
.contact .contact-details .content ul {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 300px;
  margin: auto;
}
.contact .contact-details .content ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}
.contact .contact-form {
  padding: 50px 0;
  background-color: #efefef;
}
.contact .contact-form .content h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: #333333;
}
.contact .contact-form .content form {
  margin: 0 auto;
  width: 500px;
}
.contact .contact-form .content form .form-row {
  display: flex;
  padding: 10px 0;
  gap: 20px;
}
.contact .contact-form .content form .form-row .form-submit {
  text-align: center;
}
.contact .contact-form .content form .form-row .form-field .field {
  border: none;
  padding: 10px 0;
}
.contact .contact-form .content form .form-row .form-field .field::-moz-placeholder {
  padding: 10px;
}
.contact .contact-form .content form .form-row .form-field .field::placeholder {
  padding: 10px;
}

footer {
  background-color: #efefef;
  padding: 20px 0;
}
footer .content p {
  text-align: center;
  font-style: italic;
  color: #333333;
  font-weight: 300;
}

.bio-hero {
  padding: 200px 0;
  background-color: #333333;
  text-align: center;
}
.bio-hero .content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #ffffff;
}
.bio-hero .content p {
  color: #ffffff;
  padding: 10px 0;
}

.bio-story {
  padding: 150px 0;
}
.bio-story .content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.bio-story .content .bio-intro {
  width: 40%;
  padding: 0 50px 0 0;
}
.bio-story .content .bio-intro h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #333333;
  font-size: 3rem;
}
.bio-story .content .bio-intro p {
  font-size: 0.8rem;
  padding: 20px 0;
}
.bio-story .content .bio-content {
  padding: 0 0 0 50px;
}
.bio-story .content .bio-content h3 {
  font-size: 2rem;
  font-weight: 300;
}
.bio-story .content .bio-content p {
  padding: 20px 0 0 0;
}

.bio-quote {
  background-color: #333333;
  text-align: center;
  padding: 100px 0;
}
.bio-quote .content p {
  padding: 15px 0;
  color: #ffffff;
}
.bio-quote .content h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #ffffff;
}

.bio-skills {
  padding: 150px 0;
}
.bio-skills .content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.bio-skills .content .bio-skill-intro {
  width: 40%;
  padding: 0 50px 0 0;
}
.bio-skills .content .bio-skill-intro h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #333333;
  font-size: 3rem;
}
.bio-skills .content .bio-skill-intro p {
  font-size: 0.8rem;
  padding: 20px 0;
}
.bio-skills .content .skill-content {
  padding: 0 0 0 50px;
}
.bio-skills .content .skill-content ul li {
  padding: 20px 0;
  border-bottom: 1px solid #333333;
}

.casestudy-hero {
  position: relative;
  height: 500px;
  width: 100vw;
  overflow: hidden;
  background-color: #333333;
}
.casestudy-hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.casestudy-hero img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.casestudy-story {
  padding: 50px 0;
}
.casestudy-story .content .casestudy-intro h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #333333;
  padding: 0 0 40px 0;
}
.casestudy-story .content .casestudy-intro p {
  padding: 0 0 10px 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.casestudy-story .content .casestudy-summary p {
  padding: 0 0 20px 0;
}

.casestudy-process {
  height: 200px;
  position: relative;
  margin: 0 0 50px 0;
}
.casestudy-process .content {
  background-color: #efefef;
  height: 200px;
  padding: 0 30px;
}
.casestudy-process .content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.casestudy-contribution .content {
  background-color: #efefef;
  padding: 30px;
}
.casestudy-contribution .content h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
}
.casestudy-contribution .content p {
  color: #333333;
  padding: 20px 0 0 0;
}

.casestudy-pointer .content {
  padding: 0 0 50px 0;
  display: flex;
  align-items: start;
  gap: 50px;
}
.casestudy-pointer .content .achievements h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
}
.casestudy-pointer .content .achievements p {
  color: #333333;
  padding: 20px 0 0 0;
}
.casestudy-pointer .content .challenges h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
}
.casestudy-pointer .content .challenges p {
  color: #333333;
  padding: 20px 0 0 0;
}

.casestudy-image {
  padding: 50px 0;
}
.casestudy-image .image-row-1,
.casestudy-image .image-row-2,
.casestudy-image .image-row-3,
.casestudy-image .image-row-4 {
  overflow: hidden;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.casestudy-image .image-row-1 {
  height: 700px;
}
.casestudy-image .image-row-2 {
  height: 400px;
  margin: 30px 0;
}
.casestudy-image .image-row-3 {
  height: 400px;
  margin: 0 0 30px 0;
}
.casestudy-image .image-row-4 {
  height: 700px;
}
.casestudy-image img {
  background-color: #efefef;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */